:root {
  --Bg-color: #ffffff;
  --Grey: #575757;
  --Primary: #28cdcf;
  --Secondary: #a873e8;
  --Shadow: rgba(255, 255, 255, 0.25);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}
* {
  box-sizing: border-box;
}
