.navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
}

.navbar__logo {
  width: 156px;
  height: 59px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__links a {
  color: var(--grey);
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}
.button {
  flex-shrink: 0;
  width: 77px;
  height: 42px;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.25);
  background-color: var(--Secondary);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: -0.3px;
}
