.navbar {
  display: flex;
  height: 4.375rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--Bg-color);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar__logo {
  width: 9.75rem;
  height: 3.6875rem;
  overflow: hidden;
}
.navbar__logo {
  width: 9.75rem;
  height: 3.6875rem;
  position: relative;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-size: 1.0625rem;
}

.navbar__links a {
  color: var(--Grey);
  text-decoration: none;
  font-weight: 500;
}

.button {
  cursor: pointer;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  line-height: 25.5px;
  width: auto;
  height: auto;
  box-shadow: inset 0px 1px 1px 0px var(--Shadow);
  background-color: var(--Secondary);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.0625rem;
  letter-spacing: -0.3px;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 43.75rem;
  gap: 1.25rem;
}

.main__title {
  max-width: 40.75rem;
  margin-top: 11.5rem;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0px;
  line-height: 1;
  text-align: center;
}

.main__title div {
  color: var(--Secondary);
}

.main__subtitle {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  overflow: hidden;
  flex: 1 0 0px;
  opacity: 0.8;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--Grey);
}

.main__container button {
  padding: 0.75rem 1.25rem;
  background-color: var(--Primary);
}

.section1 {
  height: min-content; /* 1497px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: radial-gradient(
    50% 55.60000000000001% at 50% 97.6%,
    #e3ccff 0%,
    hsl(0, 0%, 100%) 100%
  );
}

.rightChatBubble {
  background-color: #a873e8;
  color: #ffffff;
  padding: 12px;
  margin: 10px;
  border-radius: 15px;
  border-top-right-radius: 0;
  max-width: 200px;
  color: 'white';
  font-size: 12px;
  margin-bottom: 10px;
  align-self: flex-end;
  text-align: center;
}

.leftChatBubble {
  background-color: rgb(242, 237, 246);
  color: #000;
  padding: 12px;
  margin: 10px;
  border-radius: 15px;
  border-top-left-radius: 0;
  max-width: 200px;
  color: 'white';
  font-size: 12px;
  margin-bottom: 10px;
  width: fit-content;
  text-align: center;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 10px;
  font-size: 13px;
  padding-top: 47px;
  position: relative;
  z-index: 0;
}
.chatInputContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.chatInput {
  display: flex;
  align-items: center;
  background-color: rgb(242, 237, 246);
  border-radius: 20px;
  justify-content: space-between;
  padding: 10px 20px;
  flex-grow: 1;
  border-top: 1px solid #e3e3e3;
  font-size: 0.9rem;
  color: var(--Grey);
}
.chatInputButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  font-size: 1.2rem;
}

.banner {
  width: 100%;
  display: flex;
  flex-grow: 1;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bannerContainer {
  overflow: hidden;
  background-color: rgb(0, 218, 178);
  /* 0	218	178	 */
  background-image: radial-gradient(
      at 112% 12%,
      #5ab4e0 0px,
      transparent 50%
    ),
    /* radial-gradient(at 59% 76%, rgb(67, 93, 155) 0px, transparent 50%), */
    /* radial-gradient(at 0% 100%, var(--Primary) 0px, transparent 50%), */
    radial-gradient(at 100% 100%, var(--Secondary) 100px, transparent 90%),
    radial-gradient(at 100% 0%, var(--Secondary) 100px, transparent 50%),
    radial-gradient(at 50% 110%, rgb(84, 239, 123) 10px, transparent 70%);


}

.bannerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 220px;
  padding: 40px;
}
.bannerTitle {
  font-size: 2.7rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.bannerSubtitle {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 3rem;
    margin-top: 6.25rem;
    margin: 1.25rem;
  }
  .main__container {
    margin-top: 10rem;
  }

  .navbar button {
    font-size: 15px !important;
  }

  .navbar__links a {
    display: none;
  }
}
