.navbar {
  display: flex;
  height: 4.375rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--Bg-color);
}

.navbar__logo {
  width: 9.75rem;
  height: 3.6875rem;
  position: relative;
}
.navbar__logo {
  width: 9.75rem;
  height: 3.6875rem;
  position: relative;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-size: 1.0625rem;
}

.navbar__links a {
  color: var(--Grey);
  text-decoration: none;
  font-weight: 500;
}
.button {
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  line-height: 25.5px;
  width: auto;
  height: auto;
  box-shadow: inset 0px 1px 1px 0px var(--Shadow);
  background-color: var(--Secondary);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.0625rem;
  letter-spacing: -0.3px;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 6.25rem;
  max-width: 43.75rem;
  gap: 1.25rem;
}

.main__title {
  max-width: 40.75rem;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0px;
  line-height: 1;
  text-align: center;
}

.main__title div {
  color: var(--Secondary);
}

.main__subtitle {
  height: auto; /* 84px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  overflow: hidden;
  flex: 1 0 0px;
  opacity: 0.8;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--Grey);
}

.main__container button {
  padding: 0.75rem 1.25rem;
  background-color: var(--Primary);
}

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 3rem;
    margin-top: 6.25rem;
    margin: 1.25rem;
  }

  .navbar button {
    /* padding: 0.8rem; */
    font-size: 15px !important;
  }
  .navbar__links a {
    display: none;
  }
}
